html,
body {
  height: 100%;
}

.list-group {
  border: 1px solid gray;
  margin: 40px;
  padding: 40px;
  height: 800px
}


.list-group div {
  margin-top: 40px;
  height: 100px;
    font-size: 2em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

#source-list div {
  background-color:mediumseagreen;

}

#destination-list div {

  background-color: mediumseagreen;
}