#items {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.drop {
  width: 300px;
  height: 100px;
  float: left;
  border: 1px solid grey;
}

li{
  width: 100px;
  height: 100px;
  list-style: none;
}

#item-1{
  background-color: blue;
}
#item-2{
  background-color: greenyellow;
}
#item-3{
  background-color: red;
}
.dragging{
  visibility: hidden;
}
