/* ipdad = 1536 x 2048 pixels, 4:3 ratio */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

header {
  font-family: 'Noto Sans', sans-serif;
  background-color: whitesmoke;
  color: black;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* DISABLE DUBBLE TAP ZOOM ON ANDROID */
  touch-action: manipulation;
}

body {
  background: url("./images/1280px-coffee-beans.jpg") no-repeat;
  background-size: cover;

  position: relative;
}

#root {
  height: 100%;
  /* overflow: hidden; */

  /* PREVENT TEXT SELECTION */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shared-lists {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: space-evenly;
}

.list-box {
  max-width: 380px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.draggable {
  font-size: 28px;
  font-family: 'Lora';
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: black;
}

.box {
  width: 380px;
  height: 60px;
  color: white;
  padding: 10px 20px;
  /* border: 3px solid; */
  border-radius: 20px;
}

.target {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: dashed;
}

.hitting {
  background-color: rgba(0, 0, 0, 0.4)
}

.arrow {
  opacity: 0.5;
}

#content button {
  display: none;
}

#content .showBtn {
  display: block;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}