/* ipdad = 1536 x 2048 pixels, 4:3 ratio */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: black;
  height: 80px;
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
  /* DISABLE DUBBLE TAP ZOOM ON ANDROID */
  touch-action: manipulation;
}
header h2 {
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}

body {
  background: url("./images/1280px-coffee-beans.jpg") no-repeat;
  background-size: cover;

  position: relative;
}

#root {
  height: 100%;
  /* overflow: hidden; */

  /* PREVENT TEXT SELECTION */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shared-lists {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: space-evenly;
}

.list-box {
  max-width: 380px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.draggable {
  font-size: 28px;
  font-family: 'Lora';
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: black;
}

.box {
  width: 380px;
  height: 60px;
  color: white;
  padding: 10px 20px;
  border: 4px solid black;
  border-radius: 20px;
}

.target {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: dashed;
  border-width: 3px;
  border-color: white;
}

.hitting {
  background-color: rgba(255, 255, 255, 0.2)
}

.arrow {
  opacity: 0.5;
}

#check.hidden {
  display: none;
}

/* #content .showBtn {
  display: block;
} */

.wrong {
  background-color: #dc3545;
}

.correct {
  background-color: #28a745;
}

button {
  touch-action: manipulation;
  /* prevent double tap zoom */
  background-color: rgb(255, 123, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: .3em;
}
#check {
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px; */
}
.center {
  display: flex;
  justify-content: center;
}
.backBtn {
  color: white;
  width: 160px;
  background-color: orange;
  border: none;
  border-radius: 0;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.spacebar{
  height: 53px;
  width: 400px;
}