/* 1536 x 2048 pixels, 4:3 ratio */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans&display=swap');

html,
body {
  /* width: 1536
  px;
  height: 2048px; */

  height: 100%;
  color: white;
  /* font-weight: bold; */
}

.list-group-item {
  width: 100%;
  ;
}

/* .material-icons {
  float: rigth !important;
} */

h4 {
  font-family: 'Noto Sans', sans-serif;
  background-color: whitesmoke;
  padding: 20px 40px;
  color: tomato;
  color: black;
  /* font-weight: bold; */
  /* font-weight: bold; */
}

body {
  background: url("./images/1280px-coffee-beans.jpg") no-repeat;
  background-size: cover;
}

#source-list {}

.list-group-item::after {
  font-family: 'Material Icons';
  content: "open_with";
  content: "settings_overscan";
  content: "sort";
  content: "zoom_out_map";
  opacity: 0.6;
  font-size: 30px;
  /* -webkit-font-feature-settings: 'liga'; */
}

#destination-list {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

.list-group {
  /* border: 1px solid gray; */
  margin: 40px;
  /* height: 200px; */
  height: 600px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group div {
  font-family: 'Lora', serif;
  background-color: black;
  margin-top: 40px;
  /* padding: 20px; */
  font-size: 28px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}